<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 路途yo你 - 修改密码 </title>
    <link rel="stylesheet" type="text/css" href="../static/css/Forget%20password.css">
    <script type="text/javascript">
        $(document).ready(function(){
            $("#userName").click(function(){
                $("#Name").hide();
            });
            $("#userPhone").click(function(){
                $("#Phone").show();
            });
        });
    </script>
</head>
<body>

{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <div class="alert alert-success" style="text-align: center">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <strong>{{ message }}</strong></div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


<script>
    // //一般直接写在一个js文件中
    // layui.use(['layer', 'form'], function(){
    //     var layer = layui.layer
    //         ,form = layui.form;
    //
    //     layer.msg('Hello World');
    // });
</script>
<div class="bg" >
    <img id="bg-img" src="../static/pic/Login_bg.jpg" >
</div>
<div class="header">
  <span class="logo">
  </span>
</div>
<section class="box vertical wrapper">
    <div class="logo-body">
        <div class="logo-form box">
            <div class="left">
                <article>
                    <div class="phone-logon tab-box" id="phone_logon" style="padding-top: 5px;">
                        <div class="logo-form form-wrapper " style="width: 300px">
                            <input name="from" class="hide" id="from" value="">
                            <form class="form-item" action="http://127.0.0.1:5000/change" method="post">
                                <p class="form-ctrl" style="margin-bottom:30px;"><input title="1" class="error" id="userName" type="text" maxlength="20" placeholder="请输入您的手机号" autocomplete="off" name="userphone"></p>
                                <p class="form-ctrl icon" style="margin-bottom:30px;"><input title="2" id="userPassword" type="password" placeholder="请输入新密码，字母或特殊符号 + 数字" autocomplete="new-password" name="userpasswd"></p>
                                <p class="form-ctrl icon" style="margin-bottom:30px;"> <input title="2" id="userPassword2" type="password" placeholder="请确认您的新密码" autocomplete="new-password" name="userpasswd2"></p>
                                <p class="form-button form-item"><input class="btn btn-green block btn-logon" type="submit" value="确认" style="color:white;height:45px;padding:.4rem 1.2rem;background-color:#31b968;font-size:unset"></p>
                            </form>
                        </div>
                    </div>
            <div class="other-login">
                        <div class="login-logos">
                            <div class="gitee-login">
                                <a title="使用华师大帐号直接登录" class="span-box login-logo" style="display:flex;align-items:center;justify-content:center;margin-top:26px;" href="https://www.ecnu.edu.cn/">
                                    <img src="../static/pic/Home%20page_logo.png" id="other-img">
                                    <span style="color:#323232;font-size:16px;padding-left:5px;">使用华师大帐号可直接登录</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="right">
                <div class="img">
                    <img src="../static/pic/Login_logo.png" id="right-img" alt="背景 "/>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="home-footer">
    <div>
        <div>
            <span class="copy">©<span>旅途yo你 |  <a class="btn-link" href="http://127.0.0.1:5000/aboutus">关于我们</a> | <a class="btn-link" href="#">联系我们</a> | <a class="btn-link" href="#">旅途yo你 手机版</a>
            <a href="#" target="_blank">粤ICP备00000000号-1</a>
        </span></span></div>
        <div>
            面子工程团队是 华师大开源软件推进联盟 指定的官方社区
        </div>
    </div>
</footer>
</body>
</html>