<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>旅途yo你 - 使用指南</title>
    <link type="text/css" rel="stylesheet" href="../static/css/Help.css">
    <link rel="stylesheet" href="../static/First/layui/css/layui.css">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<section id="intro" style="background-image: url('../static/pic/Help_bg.png');" class="intro">       >
    <div class="wrapper">
        <div class="header">
            <div class="RED">
                <div class="logo">
                    <img src="../static/pic/Personal%20center%20logo1.png"  CLASS="darklogo" alt="this is logo " >
                </div>
            </div>
            <ul class="nav">
                <li class="list-item">
                    <a href="http://127.0.0.1:5000/">首页 </a>
                </li>
                <li class="list-item">
                    <a href="#">我的行程 </a>
                </li>
                <li class="list-item">
                    <a href="#"> 业务合作</a>
                </li>
                <li class="list-item">
                    <a href="http://127.0.0.1:5000/news">新闻中心</a>
                </li>
                <li class="list-item">
                    <a href="http://127.0.0.1:5000/aboutus">关于我们 </a>
                </li>
                <li class="list-item">
                    <a href="http://127.0.0.1:5000/help">帮助</a>
                </li>
                <li class="list-item">
                    <a href="#">社会责任 </a>
                </li>
            </ul>
        </div>
        <span class="hugetitle" data-v-d4ca39ea="">使用指南</span>
    </div>

</section>
<div class="content">
    <div class="introduction">
        <span class="title" data-v-3025d04f="">私人定制</span>
        <span class="description-wrapper chinese" data-v-3025d04f="">
            <p class="description" data-v-3025d04f="" style="margin-bottom: 5px">
                当代的工作者要真正的进行一次旅行
            </p>
            <p  style="margin-bottom: 5px">
                往往需要花大量的时间在旅行攻略的制作上
            </p>
            <p  style="margin-bottom: 5px">
                而其中最核心的就是时间和路线的安排
            </p>
                <p  style="margin-bottom: 5px">
                需要对目的地的交通进行详细的了解
            才能让旅途更自如
            </p>
        </span>
        <div class="ambition-list"  data-v-49e31a27="" data-v-3025d04f="">
            <p class="item" data-v-49e31a27="">
                    <span class="detail-wrapper" data-v-49e31a27="">
                        <span class="image-wrapper" data-v-49e31a27="">
                            <img class="image" src="../static/pic/News_1.png" data-v-49e31a27="" style="margin-bottom: 20px">
                        </span>
                        <span class="title" data-v-49e31a27="" style="margin-bottom: 80px">一切从简</span>
                        <span class="detail" data-v-49e31a27="" style="margin-bottom: 20px">只需要用户提供少量信息</span>
                        <span class="detail" data-v-49e31a27="">    便可生成独一无二的旅行路线</span>
                    </span> <span class="line" data-v-49e31a27=""></span>
            </p>
            <p class="item" data-v-49e31a27="">
                    <span class="detail-wrapper" data-v-49e31a27="">
                        <span class="image-wrapper" data-v-49e31a27="">
                            <img class="image" src="../static/pic/News_2.png" data-v-49e31a27="" style="width: 40px;margin-bottom:10px">
                        </span>
                        <span class="title" data-v-49e31a27="">合理推荐</span>
                        <span class="detail" data-v-49e31a27="" style="margin-bottom: 20px">面对时间不足以支持景点</span>
                           <span class="detail" data-v-49e31a27="" style="margin-bottom: 20px"> 或者景点不足以支持时间时</span>
                         <span class="detail" data-v-49e31a27="">
我们会自动减少或者增加景点
</span>
                    </span>
                <span class="line" data-v-49e31a27="">
                    </span>
            </p>

            <p class="item" data-v-49e31a27="">
                    <span class="detail-wrapper" data-v-49e31a27="">
                        <span class="image-wrapper" data-v-49e31a27="">
                            <img class="image" src="../static/pic/News_3.png" data-v-49e31a27="" style="margin-bottom: 20px">
                        </span>
                        <span class="title" data-v-49e31a27="" style="margin-bottom: 80px">人性化服务</span>
                        <span class="detail" data-v-49e31a27="" style="margin-bottom: 20px">会根据用户住址决定一天的开始和结束 </span>
                         <span class="detail" data-v-49e31a27="">会根据节奏选则交通方式 </span>
                    </span>
                <!----></p>
        </div>
    </div>

</div>
</div>
<div class="Help">
    <span  class="title" data-v-3025d04f="">使用手册</span>
    <div class="step" style="margin-left: 100px">

    <p class="content">
        1.登录旅途yo你的网站，注册成为我们中的一员（欢迎您的加入）
    </p>
    <p class="content">
        2.选择您计划出行的时间长度和目的地址，同时按照您个人的喜好确立旅游节奏与理想的交通方式，确认您的选择
    </p>
    <p class="content">
        3.最后填写您的住宿地址，我们将会为您量身定制一套完美的出游方式
    </p>
    <p class="content">
        4.您可以到您的个人中心，我的行程里查看您生成的历史行程
    </p>
    </div>
<div class="ceo-mail-box" data-v-3025d04f="">
    <span class="title" data-v-3025d04f="">联系我们</span>
    <div class="paragraphs-container" data-v-3025d04f="">
        <div class="paragraph" data-v-3025d04f="">
            <p class="content" data-v-3025d04f="">
                如果您对如何使用仍然存在疑虑，以及任何对平台发展有益的意见及建议，欢迎您直接写信到CEO邮箱：
                <strong>1035351959@qq.com</strong>。</p>
            <!----></div><div class="paragraph" data-v-3025d04f=""><p class="content" data-v-3025d04f="">为了您的来信能够得到更高效的处理，请您在邮件中标注以下信息：</p>
        <ul class="list" data-v-3025d04f="">
            <li class="list-item" data-v-3025d04f="">您的个人或工作单位信息（公司/品牌/部门/岗位/姓名 等）</li>
            <li class="list-item" data-v-3025d04f="">您的联系方式（邮箱地址/直线电话 等）</li>
            <li class="list-item" data-v-3025d04f="">相关问题、意见或建议的具体描述（背景/案例/各类支持性材料 等）</li>
        </ul>
    </div>
        <!--                    <span style="color: red">-->
        <!--                        欢迎收到您的来信-->
        <!--                    </span>-->
    </div>
</div>
</div>
</body>
</html>