<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>旅途yo你 - 关于我们</title>
    <link type="text/css" rel="stylesheet" href="../static/css/We.css">
    <link rel="stylesheet" href="../static/First/layui/css/layui.css">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<section id="intro" style="background-image: url('../static/pic/We_bg.jpg');" class="intro">       >
    <div class="wrapper">
        <div class="header">
            <div class="RED">
                <div class="logo">
                    <img src="../static/pic/Home%20page_logo.png"  CLASS="darklogo" alt="this is logo " >
                </div>
            </div>
            <ul class="nav">
                <li class="list-item">
                    <a href="http://127.0.0.1:5000/">首页 </a>
                </li>
                <li class="list-item">
                    <a href="#">我的行程 </a>
                </li>
                <li class="list-item">
                    <a href="#"> 业务合作</a>
                </li>
                <li class="list-item">
                    <a href="http://127.0.0.1:5000/news">新闻中心</a>
                </li>
                <li class="list-item">
                    <a href="http://127.0.0.1:5000/aboutus">关于我们 </a>
                </li>
                <li class="list-item">
                    <a href="http://127.0.0.1:5000/help">帮助</a>
                </li>
                <li class="list-item">
                    <a href="#">社会责任 </a>
                </li>
            </ul>
        </div>
        <span class="hugetitle" data-v-d4ca39ea="">关于我们</span>
    </div>

</section>
    <div class="content">
        <div class="introduction">
            <span class="title" data-v-3025d04f="">什么是旅途yo你</span>
            <span class="description-wrapper chinese" data-v-3025d04f="">
            <p class="description" data-v-3025d04f="">
                旅途yo你是现代人定制出行的新型选择方式，由面子工程团队于2019年在上海创立，致力于让全世界的好生活触手可及。在旅途yo你，用户通过提供自己所需要的出游节奏和旅途方式选择最合适自己的外出方案。而我们一直在为您默默守候。
            </p>
        </span>
            <div class="ambition-list" data-v-49e31a27="" data-v-3025d04f="">
                <p class="item" data-v-49e31a27="">
                    <span class="detail-wrapper" data-v-49e31a27="">
                        <span class="image-wrapper" data-v-49e31a27="">
                            <img class="image" src="../static/pic/We_1.png" data-v-49e31a27="">
                        </span>
                        <span class="title" data-v-49e31a27="">愿景</span>
                        <span class="detail" data-v-49e31a27="">成为最受用户信任的旅游品牌</span>
                    </span> <span class="line" data-v-49e31a27=""></span>
                </p>
                <p class="item" data-v-49e31a27="">
                    <span class="detail-wrapper" data-v-49e31a27="">
                        <span class="image-wrapper" data-v-49e31a27="">
                            <img class="image" src="../static/pic/We_2.png" data-v-49e31a27="">
                        </span>
                        <span class="title" data-v-49e31a27="">使命</span>
                        <span class="detail" data-v-49e31a27="">让全世界的点滴美好触手可及</span>
                    </span>
                    <span class="line" data-v-49e31a27="">
                    </span>
                </p>
                <p class="item" data-v-49e31a27="">
                    <span class="detail-wrapper" data-v-49e31a27="">
                        <span class="image-wrapper" data-v-49e31a27="">
                            <img class="image" src="../static/pic/We_3.png" data-v-49e31a27="">
                        </span>
                        <span class="title" data-v-49e31a27="">企业文化</span>
                        <span class="detail" data-v-49e31a27="">有想法 有洞察 有创造 有格局</span>
                    </span>
                    <!----></p>
            </div>
        </div>
        <div class="development">
            <span class="title" data-v-3025d04f="">旅途yo你发展史</span>
<!--            <div class="selector" data-v-87298b4a="">2019</div>-->
            <div class="time">
                <span class="time-title">2019大事件</span>
                <div class="real_time">
                    <ul class="layui-timeline">
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2019年9月26日，旅途yo你开发团队"面子工程"正式成立</div>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2019年9月29日，旅途yo你开发团队"面子工程"提出基本构想</div>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2019年11月21日，旅途yo你demo正式测试完成</div>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2019年11月23日，旅途yo你 首个版本发布</div>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2019年11月24日，旅途yo你提交。并期望发展成为中国最受欢迎的定制旅游网站</div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="environment">
            <span class="en_title" data-v-3025d04f="">工作环境</span>
            <div data-v-66d9ac46="" data-v-3025d04f="">
                <div class="office-list" data-v-66d9ac46="">
                    <div class="office current" data-v-66d9ac46="">
                        <div class="office" data-v-66d9ac46="">
                            <span class="office-name" data-v-66d9ac46="" id="location">
                                    上海总部
                            </span>
                        </div>
                    </div>
                </div></div> <div class="image-wrapper" data-v-66d9ac46="">
                <div class="image-list" style='background-image: url("../static/pic/Environment_1.jpg");' data-v-66d9ac46=""></div>
                <div class="image-list" style='background-image: url("../static/pic/Environment_2.jpg");' data-v-66d9ac46=""></div>
                <div class="image-list" style='background-image: url("../static/pic/Environment_3.jpg");' data-v-66d9ac46=""></div>
            </div>
            </div>
        </div>
        <div class="address">

        </div>
        <div class="ceo-mail-box" data-v-3025d04f="">
                <span class="title" data-v-3025d04f="">联系我们</span>
                <div class="paragraphs-container" data-v-3025d04f="">
                    <div class="paragraph" data-v-3025d04f="">
                        <p class="content" data-v-3025d04f="">
                            如您在旅途yo你的使用或与旅途yo你的合作中遇到难以解决的问题，以及任何对平台发展有益的意见及建议，欢迎您直接写信到CEO邮箱：
                            <strong>1035351959@qq.com</strong>。</p>
                        <!----></div><div class="paragraph" data-v-3025d04f=""><p class="content" data-v-3025d04f="">为了您的来信能够得到更高效的处理，请您在邮件中标注以下信息：</p>
                    <ul class="list" data-v-3025d04f="">
                        <li class="list-item" data-v-3025d04f="">您的个人或工作单位信息（公司/品牌/部门/岗位/姓名 等）</li>
                        <li class="list-item" data-v-3025d04f="">您的联系方式（邮箱地址/直线电话 等）</li>
                        <li class="list-item" data-v-3025d04f="">相关问题、意见或建议的具体描述（背景/案例/各类支持性材料 等）</li>
                    </ul>
                </div>
<!--                    <span style="color: red">-->
<!--                        欢迎收到您的来信-->
<!--                    </span>-->
                </div>
        </div>
    </div>
</body>
</html>